body{
    font-family: "Roboto", sans-serif;
    box-sizing: content-box;
}
.nav-container{
    background-color: #fffffa;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 96px;
    padding: 0 12rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav .logo{
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 64px;
color: #000000;
}
.nav-items li{
    list-style: none;
    margin-right: 10rem;
}.nav-items a{
    text-decoration: none;
    color: #000000;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
}
.nav-items li:nth-last-of-type(1){
    margin: 0;
}
.header-container{
    top:0;
    padding: 0 12rem;
    background: #f8b47e;
}
.hero-content h1{
    margin-top: 0;
}