.content{
    padding: 0 12rem;
    position: relative;
}
.header-nav{
    width: 100%;
    min-height:7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    font-family: 'Poppins',sans-serif;
}
.header-nav__logo{
    margin-top: -1rem;
    font-weight: 800;
    font-size: 6.4rem;
}
.header-nav__list{
    list-style: none;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
    font-weight: 400;
    font-size: 2.4rem;
}
.header-nav__item{
    margin-left: 4rem;
}
.header-nav__link{
    text-decoration: none;
    color: #021718;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.header-content__img{
    width: 50rem;
    height: 50rem;
}

