body{
    font-family: "Roboto", sans-serif;
}
.nav-container{
    background-color: #fffffa;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 96px;
    padding: 0 12rem;
    z-index: 1;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav .logo{
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 64px;
color: #000000;
}
.nav-items li{
    list-style: none;
    margin-right: 10rem;
}.nav-items a{
    text-decoration: none;
    color: #000000;
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
}
.nav-items li:nth-last-of-type(1){
    margin: 0;
}
.header-container{
    z-index: -1;
    top:0;
    padding: 0 12rem;
    background: #f8b47e url(images/background.png) no-repeat right/contain;
    position: relative;
    min-height: calc(100vh-72px);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-content h1{

    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    margin-top: 15rem;
}
.hero-content p{
    margin: 0;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
font-style: normal;
font-weight: 400;
width: 486px;
height: 84px;
font-size: 24px;
line-height: 42px;
color: #021718;
}
.hero-img{
    position: relative;
}
.hero-link a{
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    background: #01847F;
    border-radius: 8px;
    padding: 12px 48px;
    transition: 300ms;
    z-index: 1000000;
}
.hero-link{
    display: inline-block;
}
.hero-link a:hover{
    transform: translateY(-20rem);
}
.hero-img img{
    width: 100%;
    height: 100%;
    margin-top: 14rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(0deg);
    transition: 300ms;
}
header .hero-img img:hover{
    transform: rotate(-4.81deg);

}
/* .hero-img .photo-bg{
    margin-top: 14rem;
    background: linear-gradient(to bottom, #44A1A0, #44A1A0), url(./images/Photo.png);
    box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.5);
    transform: rotate(-4.81deg);
} */
.social-icons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.social-icons img{
    margin-top: 4rem;
    margin-bottom: 10rem;
}
.social-icons img:not(:first-child){
    margin-left: 4rem;
}
.search-box{
    display: none;
}
