.content{
    padding: 0 12rem;
}
.nav-container{
    width: 1210px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.nav-list{
    list-style: none;
}